<!DOCTYPE html>
<html>
<head>
  <title>Devices</title>
  <%= stylesheet_link_tag    "devices/application", media: "all" %>
  <%= javascript_include_tag "devices/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
